<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Langues Africaines{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<header>
    
  <h1>🌍 Langues Africaines</h1>
    <h2>LA CONSERVATION DU PATRIONE CULTUREL C'EST MAINTENANT </h2>
</header>

<main>
    {% block content %}{% endblock %}
</main>

</body>
</html>
