{% extends "base.html" %}
{% block title %}Produits{% endblock %}

{% block content %}
<h2>Nos produits</h2>

<p>Bientôt disponibles :</p>

<ul>
    <li>📘 Guides linguistiques</li>
    <li>🎧 Audios premium</li>
    <li>🎓 Formations complètes</li>
    <li>vetements fripperie</li>
</ul>

 <h3> FAITES VOTRES CHOIX ET PASSEZ VOTRE COMMANDE</h3>
<section class="hero-section" style="background-image: url('{{ url_for('static', filename='images/frip/1.jpg') }}');">
    <div class="overlay">
        <h2>prix:2999franc</h2>
    </div>
</section>
<section class="hero-section" style="background-image: url('{{ url_for('static', filename='images/frip/2.jpg') }}');">
    <div class="overlay">
        <h2>prix:1999franc</h2>
    </div>
</section>
<section class="hero-section" style="background-image: url('{{ url_for('static', filename='images/frip/3.jpg') }}');">
    <div class="overlay">
        <h2>prix:1499franc</h2>
    </div>
</section>
<section class="hero-section" style="background-image: url('{{ url_for('static', filename='images/frip/4.jpg') }}');">
    <div class="overlay">
        <h2>prix:2499franc</h2>
    </div>
</section>
<section class="hero-section" style="background-image: url('{{ url_for('static', filename='images/frip/5.jpg') }}');">
    <div class="overlay">
        <h2>prix:1499franc</h2>
    </div>
</section>
<section class="hero-section" style="background-image: url('{{ url_for('static', filename='images/frip/6.jpg') }}');">
    <div class="overlay">
        <h2>prix:1499franc</h2>
    </div>
</section>
<section class="hero-section" style="background-image: url('{{ url_for('static', filename='images/frip/7.jpg') }}');">
    <div class="overlay">
        <h2>prix:1499franc</h2>
    </div>
</section>
<section class="hero-section" style="background-image: url('{{ url_for('static', filename='images/frip/8.jpg') }}');">
    <div class="overlay">
        <h2>prix:1999franc</h2>
    </div>
</section>
<section class="hero-section" style="background-image: url('{{ url_for('static', filename='images/frip/9.jpg') }}');">
    <div class="overlay">
        <h2>prix:1999franc</h2>
    </div>
</section>
<section class="hero-section" style="background-image: url('{{ url_for('static', filename='images/frip/10.jpg') }}');">
    <div class="overlay">
        <h2>prix:1999franc</h2>
    </div>
</section>
<section class="hero-section" style="background-image: url('{{ url_for('static', filename='images/frip/11.jpg') }}');">
    <div class="overlay">
        <h2>prix:1999franc</h2>
    </div>
</section>
<section class="hero-section" style="background-image: url('{{ url_for('static', filename='images/frip/12.jpg') }}');">
    <div class="overlay">
        <h2>prix:1999franc</h2>
    </div>
</section>
<section class="hero-section" style="background-image: url('{{ url_for('static', filename='images/frip/13.jpg') }}');">
    <div class="overlay">
        <h2>prix:1999franc</h2>
    </div>
</section>
<section class="hero-section" style="background-image: url('{{ url_for('static', filename='images/frip/14.jpg') }}');">
    <div class="overlay">
        <h2>prix:1999franc</h2>
    </div>
</section>
{% endblock %}
